<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..</title>
</head>
<body>
	<p class="title">{{ title }}</p>
	<p class="content">{{ content }}</p>
</body>
<style type="text/css">
	.title {
		margin: auto;
		font-size: 60px;
		margin-top:  40vh;
	}
	.content {
		margin: auto;
		font-size: 40px;
		line-height: 10vh;
	}
	body {
		background-color: #e1e1e8;
		font-family: "Source Sans Pro", "Microsoft YaHei UI",'STHeiti Light', STHeiti, Helvetica, sans-serif;
		color: #777;
		text-align: center;
	}
</style>
</html>